:root {
   --background: #eee7db;

}
body {
   display: grid;
   grid-template-areas:
   "header header"
   "nav main"
   "footer footer";
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 120px 1fr 60px;
  background-color: var(--background);


}

header {
   grid-area: header;
   margin: 0;
   font-size: 2.2rem;
   text-align: center;
}
nav {
   grid-area: nav;
}
nav ul{
   
   list-style:none; 
   display: list-item; 
   gap: 15px;
}

nav a{
    text-decoration: none;
}

nav a:hover {
   text-decoration: underline;  
} 
main {
   grid-area: main;
   background-color: var(--background);
}
footer {
   background-color: #dadad4;
   grid-area: footer;
   border-top: 2px solid #756143;
   
   
}

